@font-face {
    font-family: "Cuprum";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/cuprum.woff2") format("woff2"),
         url("../fonts/cuprum.woff") format("woff");
}

@font-face {
    font-family: "Cuprum";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/cuprumbold.woff2") format("woff2"),
         url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
    font-family: "Cuprum";
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src: url("../fonts/cuprumitalic.woff2") format("woff2"),
         url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
    font-family: "Cuprum";
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    src: url("../fonts/cuprumbolditalic.woff2") format("woff2"),
         url("../fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
    font-family: "PT Sans";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/ptsans.woff2") format("woff2"),
         url("../fonts/ptsans.woff") format("woff");
}

@font-face {
    font-family: "PT Sans";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/ptsansbold.woff2") format("woff2"),
         url("../fonts/ptsansbold.woff") format("woff");
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", "Arial", sans-serif;
	font-weight: 400;
	font-size: 13px;
	line-height: 24px;
	color: #000000;

	background-color: #ffffff;
}

a { 
	text-decoration: none;
 }

.visually-hidden {
	position: absolute;
  	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.header {
	background-color: #f4f7f9;
}

.header__top {
	background-color: #293449;
	height: 42px;
}

.logo {
	box-shadow: inset 0px -5px 0 0 rgba(0, 0, 0, 0.24);
	background-color: #ee3643;
	align-items: center;

	display: flex;
	justify-content: center;
}

.header__logo {
	width: 220px;
	height: 47px;
	margin-right: 17px;
}

.logo:hover,
.logo:focus {
	background-color: #ca2c37;
}

.logo:active {
	background-color: #ba2732;
}

.header__link,
.header__search-form {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 17px;
	line-height: 1.06;
	color: #ffffff;

	display: inline-block;
	vertical-align: center;
}

.header__link--chekout {
	background-color: #63a63e;
	padding: 14px;
	padding-left: 20px;
	padding-right: 22px;
}

.header__link:hover,
.header__link:focus {
	background-color: #212a3a;
}

.header__link--chekout:hover,
.header__link--chekout:focus {
	background-color: #5fbb2d;
}

.header__link--chekout:active {
	background-color: #518534;
	color: rgba(255, 255, 255, 0.5);
}

.header__make-order {
  	width: 150px;
  	height: 42px;
  	background-color: #63a63e;
  	color: #ffffff;

  	display: flex;
  	justify-content: center;
  	align-items: center;

}

.header__title{
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 16px;
	font-style: italic;
	font-weight: 400;
	line-height: 23px;
	color: #EE3643;
	text-align: left;
}

.header-main__tel {
	background: #F3F7F9;
	border: 3px solid #FFFFFF;

	font-size: 21px;
	color: #EE3643;
}

.header-main__address {
    font-size: 14px;
	color: #32425C;
	line-height: 24px;
}

.header-main__user-link {
	font-size: 21px;
	color: #000000;
	line-height: 21px;

	background-color: #ffffff;
	padding: 25px;
	padding-top: 14px;
	padding-bottom: 11px;
}

.header-main__user-link:hover,
.header-main__user-link:focus {
	color: #ee3643;
}

.header-main__user-link:active {
	color: rgba(0, 0, 0, 0.3);
}

.header-main__user-link--pic { /*как выровнять по центру?*/
	padding-right: 27px;
	padding-top: 14px;
	padding-left: 48px;

	position: relative;
}

.header-main__user-link--pic::before { /*как выровнять по центру?*/
	content: "";
	position: absolute;
	width: 20px;
	height: 17px;
	left: 14px;
	top: 50%;
	transform: translateY(-50%);

	background-image: url("../img/icon-login.svg");
	background-repeat: no-repeat;
}

.main-nav {
	background: #32425C;
    box-shadow: inset 0 -5px 0 0 #293449;
    font-family: "Cuprum", "Arial", sans-serif;
    height: 60px;
}

.main-nav__list {
	list-style: none;


	display: flex;
    justify-content: space-around;
    align-items: bottom;
}

.main-nav__link {
	color: #FFFFFF;
	font-size: 17px;
	line-height: 17px;
	padding: 22px 30px 26px;
}


.main-nav__link:hover,
.main-nav__link:focus {
	background-color: #293449;
}

.main-nav__link:active { /*остается полоска при клике (из-за прозрачности, но без нее не работате цвет шрифта)*/
	background-color: #1d2739;
	color: rgba(255, 255, 255, 0.5);
}

.output {
	color: #000000;
	font-size: 13px;
	line-height: 24px;
}

.output__title {
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 30px;
	line-height: 30px;
	text-transform: uppercase;
	color: #000000;

}

.output__agent {
	font-size: 18px;
	line-height: 19px;

	list-style: none;
}

.button {
	font-size: 14px;
	text-align: center;
	line-height: 18px;
	font-family: "Cuprum", "Arial", sans-serif;
	font-weight: 400;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #ee3643;
	border-radius: 2px;
	padding-top: 14px;
	padding-bottom: 12px;
}

.button__detail {
	padding-left: 41px;
	padding-right: 40px;
}

.button__write {
	padding-left: 63px;
	padding-right: 59px;
}

.footer__logo{ 
	width: 220px;
	height: 68px;
}

.footer {
	background-color: #32425c;
	font-family: "Cuprum", "Arial", sans-serif;
	font-size: 18px;
	color: #F3F7F9;
	line-height: 24px;
}

.footer__item {
	color: #f1f5f7;
}


.special-nav__item:hover,
.special-nav__item:focus,
.footer__item:hover,
.footer__item:focus {
	text-decoration: underline;
}

.special-nav__item:active,
.footer__item:active {
	color: rgba(241, 245, 247, 0.5);
	text-decoration: none;
}

.footer__nav,
.special-nav {
	list-style: none;
}

.special-nav__item {
	color: #FFD180;
}

.footer__bottom {
	font-size: 16px;
	color: #FFFFFF;
	line-height: 18px;

	background-color: #293449;
}

.footer__tel {
	color: #f3f7f9;
}

.footer__feedback {
	color: #FFD180;
}

.footer__feedback:hover,
.footer__feedback:focus {
	text-decoration: underline;
}

.footer__feedback:focus {
	text-decoration: none;
	color: #ee3643;
}

.footer__social-network {
	list-style: none;
}

.footer__social-link {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 42px;
	height: 42px;
	border-radius: 50%;
	background-color: #212A3A;
} 

.footer__social-btn {
	padding: 0;
	margin: 0; 
}

.footer__social-link:hover,
.footer__social-link:focus {
	background-color: #ee3643;
} 

.footer__rights {
	line-height: 18px;
}

.write-us {
	box-shadow: 0 20px 40px 0 rgba(0,0,0,0.75);
	font-size: 18px;
	color: #000000;
	line-height: 18px;
}

.write-us__bottom {
	background-color: #f4f4f4;
}

.header__id {
	font-size: 21px;
	color: #000000;
	line-height: 21px;
}

.header-id:hover,
.header-id:focus {
	font-size: 16px;
	color: #EE3643;
}

.header-id:active {
	opacity: 0.3;
	font-size: 21px;
	line-height: 21px;
}

.breadcrumbs {
	font-size: 13px;
	line-height: 18px;
	color: #000000;
	text-transform: uppercase;
}

.breadcrumbs__link {
	color: #000000;
	list-style: ;
}

.main-page__title {
	background-color: #f2f6f8;

	font-size: 30px;
	color: #32425C;
	line-height: 30px;
}

.filter__legend {
	font-size: 17px;
	font-weight: 700;
	color: #000000;
	letter-spacing: 0;
	line-height: 30px;
}

.filter ul {
	font-size: 15px;
	color: #000000;
	letter-spacing: 0;
	line-height: 19px;
}

.filter button {
	background: #FFFFFF;
    border: 1px solid #E5E5E5;

	font-size: 13px;
	color: #000000;
	text-align: center;
	line-height: 18px;
}

.catalog ul {
	list-style: none;
	background: #FFFFFF;
    border: 1px solid #E5E5E5;
}

.catalog__item:hover,
.catalog__item:focus {
	background: #FFFFFF;
	box-shadow: 0 10px 25px 0 rgba(41,52,73,0.50);
}

.catalog h3 {
	font-weight: 700;
	font-size: 18px;
	text-align: center;
	line-height: 20px;
	color: #000000;
}

.catalog span {
	font-size: 17px;
	color: #999999;
	text-align: center;
	line-height: 18px;
	text-decoration: line-through;
}

.catalog__price {
	font-weight: 700;
	font-size: 17px;
	color: #FFFFFF;
	background-color: red;
	text-align: center;
	line-height: 18px;

	/* нарисовать кнопку*/
}

.catalog__buy {
	font-size: 14px;
	text-align: center;
	color: #ffffff;

	background: #63A63E;
	box-shadow: inset 0 -3px 0 0 #367315;
	border-radius: 2px;
}

.catalog__buy:hover,
.catalog__byu:focus {
	background-color: #5fbb2d;
}

.catalog__byu:active { /*не работает*/
	background-color: #518534;
	box-shadow: none;
}

.catalog__marks {
	font-size: 14px;
	color: #32425C;
	text-align: center;
  	border: solid 3px #63a63e;
}

.catalog__marks:hover,
.catalog__marks:focus {
	border: solid 3px #32425c;
}

.catalog__marks:active {
	color: rgba(50, 66, 92, 0.3);
	border: solid 3px #32425c;
	opacity: 0.3;
}

.header-main__info-link {
	text-decoration: underline;
	font-size: 16px;
	color: #32425C;
	line-height: 18px;
}

.header-main__info-link:hover,
.header-main__info-link:focus {
	color: #ee3643;
}

.header-main__info-link:active { /*скрыть один элемент*/
	color: rgba(50, 66, 92, 0.3);
}

.container {
	width: 940px;
	padding: 0;
	margin: 0 auto;
}

.header__top-container {
	display: flex;
	flex-grow: 0;
	align-items: center;
}


/*временные стили*/
 body > * {background-color: rgba(255, 0, 0, 0.3);}
 body > * > * {background-color: rgba(255, 255, 0, 0.3);}
 body > * > * > * {background-color: rgba(0, 0, 255, 0.3);}
 body > * > * > * > * {background-color: rgba(0, 255, 255, 0.3);}


