body {
	margin: 0;
	padding: 0;

	font-family: 'PT Sans', Arial, sans-serif;
	font-weight: 400;
	font-size: 13px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0;

	background-color: #ffffff;
}

a { 
	text-decoration: none;
 }

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

header.header {
	background-color: #F3F7F8;
	background-image: url("img/Bitmap.png");
	background-position: top center;
	background-repeat: repeat;

	text-align: center;
	letter-spacing: 0;
	vertical-align: middle;
    font-size: 17px;
    color: #FFFFFF;
    line-height: 18px;
}



.header-top {
	background-color: #293449;
	width: 1280px;
	height: 42px;
}
.header__chekout {
	background: #63A63E;
	font-size: 17px;
	color: #FFFFFF;
	line-height: 18px;
}


.header-main h1{
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 16px;
	color: #EE3643;
	text-align: left;
}

.header-main__tel {
	background: #F3F7F9;
	border: 3px solid #FFFFFF;

	font-size: 21px;
	color: #EE3643;
	text-align: center;
}
.header__top a {
	font-size: 17px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 18px;
}

.header-main__address {
    font-size: 14px;
	color: #32425C;
	text-align: center;
	line-height: 24px;
}

.header-main__user-link {
	font-size: 21px;
	color: #000000;
	letter-spacing: 0;
	line-height: 21px;

	background-color: #ffffff;
}

.header-main__user-link:hover,
.header-main__user-link:focus {
	font-size: 21px;
	color: #EE3643;
	line-height: 21px;
}

.header-main__user-link:active {
	opacity: 0.3;
	font-family: Helvetica;
	font-size: 21px;
	color: #000000;
	line-height: 21px;
}

.header-main__user-link_pic {
	background-color: #ffffff;
	background-image: url("/icon-login.css");
	background-repeat: none;
}

nav.main-nav {
	background: #32425C;
    box-shadow: inset 0 -5px 0 0 #293449;
    width: 940px;
    height: 60px;
}

nav.main-nav a {
	font-size: 17px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 17px;
}

.main-nav__list {
	list-style: none;
}

.main-nav__item {
	font-size: 17px;
	color: #FFFFFF;
	line-height: 17px;
}

.main-nav__item:hover,
.main-nav__item:focus {
	background-color: #293449;
}

.main-nav__item:active {
	background-color: #293449;
	opacity: 0.5;
	font-size: 17px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 17px;
}

.output {
	color: #000000;
	letter-spacing: 0;
	font-weight: 400;
}

.output h2 {
	font-size: 30px;
	line-height: 30px;
}

.output p {
	font-size: 13px;
	line-height: 24px;
}

.output ul.output__agent {
	font-size: 18px;
	line-height: 19px;

	list-style: ???;
}

.output__btn {
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	line-height: 18px;

	background: #EE3643;
	border: 1px solid #979797;
}

/*Карту большую надо делать? И как?*/

 footer.footer {
	background-color: #32425;
	font-size: 18px;
	color: #F3F7F9;
	line-height: 24px;
	letter-spacing: 0;
	font-weight: 400;
}

.footer__nav {
	color: #F1F5F7;
	list-style: none;
}

footer .special-nav {
	font-size: 18px;
	color: #FFD180;
	line-height: 24px;

	list-style: none;
}

.footer__bottom {
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 18px;

	background-color: #293449;
}

a.footer__email,
a.footer__web {
	color: #FFD180;Í
}

.footer__social-btn {
	background: #212A3A; /*Не могу найти значение для скругления*/
}

.write-us {
	background: rgba(0,0,0,0.00);
	box-shadow: 0 20px 40px 0 rgba(0,0,0,0.75);
	font-size: 18px;
	color: #000000;
	letter-spacing: 0;
	line-height: 18px;
}

.write-us__bottom {
	background-color: #f4f4f4;
}

a.header__id {
	font-size: 21px;
	color: #000000;
	line-height: 21px;
}

.header-id:hover,
.header-id:focus {
	font-size: 16px;
	color: #EE3643;
	letter-spacing: 0;
}

.header-id:active {
	opacity: 0.3;
	font-size: 21px;
	color: #000000;
	letter-spacing: 0;
	line-height: 21px;
}

ul.breadcrumbs {
	font-size: 13px;
	color: #000000;
	line-height: 18px;
}

div.back h2 {
	font-size: 30px;
	color: #32425C;
	line-height: 30px;
}

.filter legend {
	font-size: 17px;
	font-weight: 700;
	color: #000000;
	letter-spacing: 0;
	line-height: 30px;
}

.filter ul {
	font-size: 15px;
	color: #000000;
	letter-spacing: 0;
	line-height: 19px;
}

.filter button {
	background: #FFFFFF;
    border: 1px solid #E5E5E5;

	font-size: 13px;
	color: #000000;
	text-align: center;
	line-height: 18px;
}

section.catalog ul {
	list-style: none;
	background: #FFFFFF;
    border: 1px solid #E5E5E5;
}

.catalog__item:hover,
.catalog__item:focus {
	background: #FFFFFF;
	box-shadow: 0 10px 25px 0 rgba(41,52,73,0.50);
}

section.catalog h3 {
	font-weight: 700;
	font-size: 18px;
	color: #000000;
	text-align: center;
	line-height: 20px;
}

section.catalog span {
	font-size: 17px;
	color: #999999;
	text-align: center;
	line-height: 18px;
	text-decoration: line-through;
}

section.catalog .catalog__price {
	font-weight: 700;
	font-size: 17px;
	color: #FFFFFF;
	text-align: center;
	line-height: 18px;

	/* нарисовать кнопку*/
}


a.catalog__buy {
	font-size: 14px;
	color: #FFFFFF;
	letter-spacing: 0;
	text-align: center;
	line-height: 18px;

	background: #63A63E;
	box-shadow: inset 0 -3px 0 0 #367315;
	border-radius: 2px;
}

a.catalog__buy:hover,
a.catalog__buy:focus {
	background: #5FBB2D;
	box-shadow: inset 0 -3px 0 0 #367315;
	border-radius: 2px;

	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	line-height: 18px;
}

a.catalog__buy:active {
	background: #518534;
	border-radius: 2px;
}

a.catalog__marks {
	font-size: 14px;
	color: #32425C;
	text-align: center;
	line-height: 18px;

	/*border*/
}

a.underline {
	text-decoration: underline;
	font-size: 16px;
	color: #32425C;
	line-height: 18px;
}

a.underline:hover,
a.underline:focus {
	font-size: 16px;
	color: #EE3643;
}

a.underline:active {
	opacity: 0.3;
	font-size: 16px;
	color: #32425C;
}

.special-nav:hover,
.special-nav:focus,
.footer-nav:hover,
.footer-nav:focus {
	text-decoration: underline;
}

.special-nav:active,
.footer-nav:active {
	opacity: 0.5;
}

.footer-email:hover,
.footer-email:focus,
.footer-web:hover,
.footer-web:focus {
	color: #EE3643;
}
